doctype html
html 
    head
        title #{pageTitle} | #{siteName}
        <script src="https://kit.fontawesome.com/37a6a87124.js" crossorigin="anonymous"></script>
    body
        include ../partials/header
        body
            block content
        include ../partials/footer
    