extends layouts/main

block content
    .form-container
        form(action=routes.login, method="post")
            input(type="email", name="email", placeholder="이메일 주소를 입력하세요", required=true)
            input(type="password", name="password", placeholder="비밀번호를 입력하세요", required=true)
            input(type="submit", value="로그인하기")
        include partials/socialLogin